* {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  font-size: 20px;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.titulo {
  font-size: 40px;
  color: #880b62;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #880b62;
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

ul {
  list-style-type: none;
}

nav ul li:not(:last-child):after {
  content: "|";
  margin: 0 5px;
}

a.active {
  color: #880b62;
}

form {
  font-size: 15px;
}

.form-ejercicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2% 0;
}

iframe {
  margin: 2% 0 2%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.footer-img {
  width: 60px;
  height: auto;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.footer-img:hover {
  transform: scale(1.1);
}

.center {
  text-align: center;
}

/* Instagramo */

.image-container {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 300;
  min-width: 300px;
  height: 300px;
  border-radius: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container p {
  text-align: center;
  text-transform: capitalize;
}

/* ejercicio 10*/
.container_instaimg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_instaimg p {
  text-transform: capitalize;
}
.instaimg {
  height: 60vh;
  width: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.ej10_ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.ej10_li {
  display: inline-block;
  text-transform: capitalize;
}
.ej10_li:not(:last-child):after {
  content: "|";
  margin: 0 10px;
}

/* ejercicio 11 */
.ej11_dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 2%;
}

.ej11_dice-image {
  width: 200px;
  height: 200px;
}

.ej11_bg {
  background-color: black;
  width: 150px; /* Ajusta el ancho según sea necesario */
  height: 150px; /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ej11_score {
  font-size: 40px;
  text-align: center;
}
